*{
    margin: 0;
    padding: 0;
}


.index_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #100C2A;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
